# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
venv/
env/

# Ignore database files
*.db
*.sqlite3

# Ignore logs
*.log

# Ignore local environment variable files
.env

# Ignore version control directories
.git/
.gitignore

# Ignore documentation and test directories
docs/
tests/

# Ignore any other unnecessary files or directories
*.md

# Allow requirements.txt
!requirements.txt
